# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#Resharper
_ReSharper.*

#testing app:
BabySmash


#files
*.suo
*.user

# mstest test results
TestResults